@model DTA.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
        <br />
        <h2>@ViewBag.Title.</h2>
        <br />
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="my__account__wrapper">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Enter your email.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="form__btn" value="Email Link" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!-- End My Account Area -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
