@model DTA.Entities.Author

@{
    ViewBag.Title = "Details";
}



<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2>Details</h2>

                <div>
                    <h4>Author</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>



            </div>
        </div>
    </div>
</section>
<br />



